[submodule "genji/web/multipart-js"]
	path = genji/web/multipart-js
	url = http://github.com/isaacs/multipart-js.git
[submodule "lib/support/multipart-js"]
	path = lib/support/multipart-js
	url = http://github.com/isaacs/multipart-js.git
[submodule "lib/support/optparse-js"]
	path = lib/support/optparse-js
	url = http://github.com/jfd/optparse-js.git
[submodule "test/jasmine-node"]
	path = test/jasmine-node
	url = http://github.com/robotarmy/jasmine-node.git
